.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
format.utils.ts
static/*.json
/.vercel
/.github

CodeBlock.svelte
HighlightValue.svelte
Highlight.svelte
Token.svelte
.cjs
