* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 100%;
  color: hsl(0, 0%, 15%);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

code,
pre {
  padding: 1rem;
  background-color: #011627;
  font-size: 0.85rem;
  border-radius: 0.5rem;
}

.token.comment {
  color: hsl(0, 0%, 55%);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.string {
  color: rgb(173, 219, 103);
}

.token.operator {
  color: rgb(127, 219, 202);
}

.token.key {
  color: hsl(0, 0%, 100%);
}
