* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 100%;
  color: hsl(0, 0%, 15%);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

label {
  display: block;
}

pre {
  line-height: 1.5;
  padding: 1rem;
  background-color: #011627;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-bottom: 1.5rem;
  color: white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.token.comment {
  color: hsl(0, 0%, 55%);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.operator {
  color: rgb(127, 219, 202);
}

.token.key {
  color: rgb(255, 255, 255);
}

.token.function {
  color: rgb(130, 170, 255);
}
