:root {
  --black: hsl(0, 0%, 15%);
  --white: hsl(0, 100%, 100%);
  --dark-blue: hsl(207, 95%, 8%);
  --light-blue: hsl(221, 100%, 75%);
  --gray: hsl(0, 0%, 55%);
  --purple: hsl(276, 67%, 74%);
  --teal: hsl(169, 56%, 68%);
  --green: hsl(84, 62%, 63%);
  --red: hsl(350, 100%, 67%);
  --orange: hsl(14, 90%, 70%);

  --font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --spacing-1: 1rem;
  --spacing-1-5: 1.5rem;
}

*, *::after, **::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 100%;
  color: var(--black);
  font-family: var(--font-family);
}
body {
  margin: var(--spacing-1);
}
label {
  display: block;
}
input, select, button {
  margin-bottom: var(--spacing-1);
}
select {
  max-width: 100%;
}

pre {
  line-height: 1.5;
  padding: var(--spacing-1);
  background-color: var(--dark-blue);
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-bottom: var(--margin-1);
  color: var(--white);
  font-family: var(--font-family);
}

.token.comment {
  color: var(--gray);
}

.token.punctuation {
  color: var(--purple);
}

.token.operator {
  color: var(--teal);
}

.token.key {
  color: var(--white);
}

.token.function {
  color: var(--light-blue);
}

.token.boolean {
  color: var(--red);
}

.token.number {
  color: var(--orange);
}

.token.string {
  color: var(--green);
}

.padding-bottom-1 {
  padding-bottom: var(--spacing-1);;
}
