name: unit tests
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.vscode/**'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 25
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test
